services:
  yups-api:
    build: .
    container_name: yups_api
    restart: always
    expose:
      - "5000" 
    environment:
      - HF_TOKEN=${HF_TOKEN} 
      - HF_MODEL_ID=google/gemma-3-27b-it:nebius
      - YUPS_CLIENT_HEADER=X-Yups-Client-Auth
      - YUPS_CLIENT_SECRET=yups-secret-v1-camaleon
    volumes:
      - ./logs:/app/logs

  caddy:
    image: caddy:2-alpine
    container_name: yups_caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - yups-api

volumes:
  caddy_data:
  caddy_config:
