services:
  yups-prod:
    image: yups-server:v0.3
    container_name: yups_prod
    restart: always
    expose:
      - "5000"
    env_file: .env
    volumes:
      - ./logs:/app/logs

  yups-dev:
    build: .
    image: yups-server:latest
    container_name: yups_dev
    restart: always
    expose:
      - "5000"
    env_file: .env
    volumes:
      - ./logs:/app/logs

  caddy:
    image: caddy:2-alpine
    container_name: yups_caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - yups-prod
      - yups-dev

volumes:
  caddy_data:
  caddy_config:
